.b-background{
    
        background: url('../../assets/images/image1.png') center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vw;
        width: 100%;
}

