@import	'./styles/elements/body.elements';
@import	'./styles/blocks/background.blocks';
@import './assets/fonts/font.scss';

.b-header{
  position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__languages{
      justify-content: space-around;
      align-items: flex-end;
      list-style: none;
      display: inline-flex;
      padding-right:3px;
      position: relative;
    }

    .b-header__languages{
      padding: 2%;
    }
}

.b-header__languages{
  justify-content: space-between;
}

.b-footer{
  position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    &__list{
      list-style: none;
      padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    height: 50px;
    }
}
