@import	'./styles/elements/body.elements';
@import	'./styles/blocks/background.blocks';
@import './assets/fonts/font.scss';

.b-header{
  position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__languages{
      justify-content: space-around;
      align-items: flex-end;
      list-style: none;
      display: inline-flex;
      padding-right:3px;
      position: relative;
    }

    .b-header__languages{
      padding: 2%;
    }
    
    .b-header__li{
      margin: 2%;
    }

    .homePage{
      margin-top: 10%;
    }


  }

.b-header__languages{
  justify-content: space-between;
}

.b-footer{
  position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    &__list{
      list-style: none;
      padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    height: 50px;
    }
}

.itemDetail{
  z-index: 1;
  position: fixed;
  top:0;
  left:0;
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  color: white;
} 

.b-container__all{
  padding-bottom: 20%;
}


.prueba{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 250px;
  @media(min-width: 768px){
      max-width: 500px;
  }
  @media(min-width: 992px){
      max-width: 800px;
  }
  @media(min-width: 1200px){
      max-width: 1024px;
  } 
  margin: auto;

}

.b-row{
  list-style-type: none;
  display:inline;
  padding-left:3px;
  padding-right:3px;
}

.image{
  display:block;
  margin:auto;
  padding-bottom: 5%;
}

